/* Dynatree CSS */
ul.dynatree-container li {
  background-image: url(++resource++vnccollab.common.images/dynatree/vline.gif) !important;
}
span.dynatree-empty,
span.dynatree-vline,
span.dynatree-connector,
span.dynatree-expander,
span.dynatree-icon,
span.dynatree-checkbox,
span.dynatree-radio,
span.dynatree-drag-helper-img,
#dynatree-drop-marker {
  background-image: url(++resource++vnccollab.common.images/dynatree/icons.gif) !important;
}
.dynatree-statusnode-wait span.dynatree-icon,
.dynatree-loading span.dynatree-expander {
  background-image: url(++resource++vnccollab.common.images/dynatree/loading.gif) !important;
}
.dynatree-title {
  margin-left: 4px !important;
}
span.dynatree-node {
  display: block !important;
  cursor: pointer !important;
}
